<div class="container">
  <h1 class="text-center"><%= @list.name %></h1>
  <div class="d-flex mb-4">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="card me-2" style="width: 18rem;">
        <%= image_tag(bookmark.movie.poster_url {:style => "width:100px;"}) %>
        <div class="card-body">
          <h5 class="card-title"><%= bookmark.movie.title %></h5>
          <p class="card-text"><%= bookmark.comment %></p>
          <%= link_to bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
            <i class="fa-sharp fa-solid fa-trash"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to "back to all the lists", lists_path, :class => "btn btn-info" %>

  <%= link_to "add a movie to this list", new_list_bookmark_path(@list) %>
</div>


<%# <div class="card d-flex flex-row">
      <%= image_tag(bookmark.movie.poster_url, {:style => "width:100px;"}) %>
      <%# <div class="p-3">
        <p><%= bookmark.movie.title</p> %>
        <%# <%= link_to 'remove from the list', bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: 'Are you sure mate?'} %>
      <%# </div>
    </div> %>
